a.top-blog{
    display: none !important;
}
.h-box{
    display: flex;
}
.footer .container{
    box-shadow: unset;
    background-image: unset;
    background-color: #1A1E21;
    border: 1px solid #8E24AA;
    border-radius: 4px;
}
.footer .container:before{
    background: unset;
}
.footer .container::after{
    background: unset;
}